<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interpolation</title>

    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-25">
            <label for="params_f">Function f(x):</label>
        </div>
        <div class="col-25">
            <input type="text" id="params_f" name="params_f" value="{{ params.f }}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="params_a">Interval from:</label>
        </div>
        <div class="col-25">
            <input type="text" id="params_a" name="params_a" value="{{ params.a }}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="params_b">Interval to:</label>
        </div>
        <div class="col-25">
            <input type="text" id="params_b" name="params_b" value="{{ params.b }}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="params_n">Polynomial degree:</label>
        </div>
        <div class="col-25">
            <input type="text" id="params_n" name="params_n" value="{{ params.n }}">
        </div>
    </div>
    <button onclick="sendData()">Run</button>

    <hr>

    {% if error %}
        <div>
            Error during execution: {{ error }}
        </div>
    {% else %}
        <img src="data:image/png;base64, {{ plots.original }}">
        <img src="data:image/png;base64, {{ plots.interpolated }}">
        <img src="data:image/png;base64, {{ plots.both }}">
    {% endif %}
</div>
</body>
<script src="static/js/form.js?version=24"></script>
</html>